* { box-sizing: border-box;
    padding: 0;
    margin: 0;}

    .banner,
    .fondo_header,
    .fondo_nav{
        max-width: 1200px;
        margin: 0 auto;
    }
   
    .fondo_header{
        background-color: rgba(0, 0, 0, 0.796);
        background-image:url("../img2/banner.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 320px;}
    .fondo_header h1{
        color: #beb3aa;
        letter-spacing: 2px;
        text-shadow:rgba(255, 0, 0, 0.495) 2px 2px 3px;
        font-size: 37px;
        display: block;
    text-align: left;
    }

    
    body {
        color: #353232;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
    background-image:url("../img2/fondito.jpg") ;
        background-size: cover;
        background-repeat: repeat;
    background-attachment: fixed;
        background-position: center;
        font-size: 24px;
    }

 img{
        max-width: 100%;
        display: block
    }

 
   header{ 
        margin: 0 auto;
        padding: 10px 20px;
    }


    .contenedor_principal,
    main,
    footer
    {
        background-color: rgba(0, 0, 0, 0.818);
        padding: 30px;
        border-radius: 10px;
        color: whitesmoke;
        max-width:1200px;
        margin: 20px auto;
    }

  .fondo_nav {
    background-color: rgb(146 129 129 / 80%);
    max-width: 1200px;
    margin: 0 auto;

  }

  .fondo_nav ul{
    padding:0;
    list-style: none;
    text-align: center;
    text-shadow:1px 1px 2px rgba(255, 255, 255, 0.116);

  }

  nav ul li{
    display: inline-block;
    margin: 0 9px;
 }

nav ul li a{
    display: block;
    color: black;
    padding: 10px 15px;

    text-transform: uppercase;
    text-decoration: none;

    font-weight: 620;
    font-size: 20px;
}

nav ul li a:hover{
    background-color: rgba(70, 69, 69, 0.386);
    border-radius: 50px;
    transition: all 0.3s ease;
}


h2{
    clear: both;
    margin-top: 15px;
    font-size: 32px;
    color: rgb(179 174 171);
    text-shadow: #922b35d1 1px 2px 4px;
}

.intro_img,
.izquierda{
    width: 25%;
    float: left;
    margin-right: 20px;
    
  
}

.derecha{
    float: right;
    width: 25%;
    margin-left: 20px;
    
  
}

.combo{
        overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 15px;
}


/*PERSONAJES*/


.personajes_caja{
    margin-top: 15px;
     margin-bottom: 30px;
     overflow: hidden;
    display: block;
    width: 80%;
    margin: 25px auto;
    border:3px solid rgb(23 60 17 / 16%);
    padding: 20px;
    background-color:rgb(117 117 29 / 3%);
    border-radius: 10px;
    color:whitesmoke;
    text-align: center;
    
}
.personajes_caja h3{
    font-size: 30px;
    margin-bottom: 20px;
    color: #998664;
    text-shadow: #353232 1px 1px 2px;
}
.personajes_caja img{
    display: inline-block;
    margin: 0;
    width: 40%;
    height: auto;
    border: 2px solid #444;
    align-content: center;
    
    
}


.caja_personajes{
    display: block;
    width: 72%;
    margin: 10px auto;
    border:2px dashed rgb(23 60 17 / 16%);
    padding: 15px;
    background-color:rgb(117 117 29 / 3%);
    border-radius: 10px;
    color:whitesmoke;
    text-align: center;
    
}
.caja_personajes h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #6c6964;
    text-shadow: #353232 1px 1px 2px;
}
.caja_personajes img{
    display: inline-block;
    margin: 0;
    width: 30%;
    height: auto;
    border: 2px solid #444;
    align-content: center;
}


/*peliculas*/


#peliculas  h3{
    font-size: 32px;
    margin-bottom: 20px;
    color: #998664;
    text-shadow: #353232 1px 1px 2px;
    text-align: right;
 padding-right: 90px;
    width: 100%;
    margin-top: 18px;
}

#peliculas a{
    display: block;
    margin-top: 2%;
    margin-left: 8%;
    color: #998664;
    text-shadow: #353232 1px 1px 2px;
    text-decoration: none;
    font-weight: 700;
  }

.img_flotante{
    display: inline-block;
    width: 27%;
}
.texto-descripcion{
    display: inline-block;
    width: 70%;
    margin-left: 2%;
    vertical-align: top;
    margin-top: 2%;
    
}
/*LIBRO VS PELICULAS*/
 .adapt{
    display: inline-block;
    width: 50%;
    border: 2px solid #444;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#adaptacion .img-adapt{
    display: inline-block;
    margin-left: 35%;
    width:30%;

}

#adaptacion ul li{
    list-style: none;
}


/*Elenco*/
.lista-manzana{
    list-style-type: none;
    padding-left: 0;
}
.lista-manzana li{
    margin-bottom: 10px;
    font-size: 24px;
}
#elenco ul li{
    width: 70%;
    padding: 10px 5px;
        margin-left: 50px;

}
#elenco ul li:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.2);

}

#elenco h3{ margin-top: 15px;
    font-size: 32px;
    color: rgb(179 174 171);
    text-shadow: #922b35d1 1px 2px 4px;}

    .curiosidades{
     margin-bottom: 30px;
     overflow: hidden;
    display: block;
    width: 100%;
    margin: 10px auto;
    border:2px solid rgb(23 60 17 / 16%);
    padding: 15px;
    background-color:rgb(117 117 29 / 3%);
    border-radius: 10px;
    color:whitesmoke;
    text-align: center;
    
}


.curiosidades h4{
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #a68752;
    text-shadow: #353232 1px 1px 2px;
}
.curiosidades img{
    display: inline-block;
    margin: 0;
    width: 40%;
    height: auto;
    border: 2px solid #444;
}



/*footer*/

footer img{
    width: 150px;
    height: auto;
    display: block;
    margin: 10px auto;
    float: right;
    margin-top: 0px;
}

 footer a
  { display: block;
    margin-top: 10px;

    color: #857966;
    text-shadow: #353232 1px 1px 2px;
    text-decoration: none;
    font-weight: 700;
  }
  footer li{
    list-style: none;
  }



    



